*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
example/pba6_hardwaretest/nbproject/private/
example/pba6_hardwaretest/nbproject/Makefile-*
example/pba6_hardwaretest/nbproject/Package-*.bash
example/pba6_hardwaretest/nbproject/*configurations*.xml
example/pba6_hardwaretest/build/
example/pba6_hardwaretest/nbbuild/
example/pba6_hardwaretest/dist/
example/pba6_hardwaretest/debug/
example/pba6_hardwaretest/nbdist/
example/pba6_hardwaretest/funclist
example/pba6_hardwaretest/disassembly/
*.map
Logo_200px.png
DoxyWizardSettings
/bbc_logo_68h.png
bbclogo_200x120.png